body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #FCFCFF;
  color: #212121;
}

#container {
  width: 90%;
  max-width: 1550px;
  margin: auto;
}

// nav bar styling
#navigation {
  display: grid;
  grid-template-columns: 5fr 6fr 1.5fr 1.5fr 1.5fr 2.5fr;

  div.logo {
    width: 200px;
  }

  img.logo-img {
    width: 50px;
    height: 55px;
    float: left;
    margin: 5px 15px 0 0;
  }

  div.logo > p {
    margin: 5px 0 0;
    font-weight: 900;
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 15px;

    &:nth-child(1) {
      line-height: 20px;
    }

    &:nth-last-child(1) {
      font-weight: 400;
      font-size: 80%;
      letter-spacing: 1px;
      line-height: 20px;
    }
  }

  div.nav-link {
    text-align: center;
    padding: 22.5px 0;

    a {
      text-decoration: none;
      color: black;
      font-weight: 900;
      letter-spacing: 2px;
    }

    a:hover {
      padding: 2px 0;
      border-bottom: 2px solid #caccd1;
      border-top: 2px solid #caccd1; 
    }

    a.active {
      padding: 5px 0;
      border-bottom: 4px solid #FF6600;
      border-top: 4px solid #FF6600;
    }

  }

  div.nav-btn {
    text-align: center;
    padding: 22.5px 0;

    a {
      text-decoration: none;
      color: #212121;
      font-weight: 900;
      border: 2px solid #212121;
      border-radius: 100px;
      padding: 5px 35px;
      transition: background .6s;
    }

    a:hover {
      background: #212121;
      color: #FCFCFF;
      border: 2px solid #212121;
    }

  }
  
}

// welcoming banner styling
#head-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #c0c0c0;

  div {
    padding: 0;
  }

  div.head-left {
    padding: 100px 0 0;
    margin-bottom: 50px;

    p {
      margin: 0;
      letter-spacing: 3px;
    }

    p:nth-child(1) {
      color: #a0a0a0;
      font-size: 250%;
      line-height: 35px;
    }

    p:nth-child(2) {
      font-size: 350%;
      font-weight: 900;
      line-height: 75px;
    }

    p:nth-last-child(1) {
      font-size: 175%;
      line-height: 375px;
    }

    div.links {
      a.linkedin {
        text-decoration: none;
        color: #0077B5;
        transition: color .6s;
      }

      a.github {
        text-decoration: none;
        color: #212121;
        transition: color .6s;
      }

      a:hover {
        color: #FF6600;
      }
    }

    div.btns {
      margin: 50px 0;

      a {
        text-decoration: none;
        color: #212121;
        font-weight: 900;
        border-radius: 100px;
        padding: 5px 35px;
        transition: background .6s;
      }

      a:nth-child(1) {
        background: #212121;
        color: #FCFCFF;
        transition: border 1s;
        border: 4px solid #212121;
        margin-right: 10px;

        &:hover {
          border: 4px solid #FF6600;
        }
      }

      a:nth-child(2) {
        border: 4px solid #caccd1;

        &:hover {
          color: #212121;
          background: #caccd1;
        }
      }
      
    }
  }

  div.head-right {
    // display: none;
    margin-top: 50px;
    background-image: url(images/watermark.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;

    div.image {
      transform: rotate(180deg);
      padding-bottom: 50px;
    }
  }

}

// projects section
#projects {
  display: grid;

  div#heading {
    font-size: 250%;
    font-weight: 900;
    line-height: 0;
    text-align: center;
    margin-bottom: 50px;
  }

  .picture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    justify-items: center;
    grid-gap: 30px;
    grid-row-gap: 20px;
    padding: 15px 0 75px;
  }

  .grid-box img {
    width: 100%;
    height: 325px;
    border: 4px solid #212121;
    border-radius: 10px;
  }

  .img-title {
    font-weight: 900;
    font-size: 150%;
    text-align: center;
    padding: 20px 0;
  }

  .img-info {
    border: 4px solid #212121;
    width: 100%;
    border-radius: 10px;
    background-color: #caccd1;
    margin: 5px 0 25px;

    .proj-desc {
      padding: 0 10px 15px;
      font-size: 110%;
    }
  }

  .links {
    margin: 15px 0 25px;
    text-align: center;
  }

  .web-link {
    background-color: #caccd1;
    border: 4px solid #FCFCFF;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;

    text-decoration: none;
    font-weight: 900;
    color: #212121;
    transition: background-color .6s;
    transition: color .6s;
    transition: border-color .6s;

    &:hover {
      background-color: #212121;
      color: #FCFCFF;
      border-color: #FF6600;
    }
  }

  .code-link {
    background-color: #caccd1;
    border: 4px solid #FCFCFF;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 10px;

    text-decoration: none;
    font-weight: 900;
    color: #212121;
    transition: background-color .6s;
    transition: color .6s;
    transition: border-color .6s;

    &:hover {
      background-color: #212121;
      color: #FCFCFF;
      border-color: #FF6600;
    }
  }

}

// about me page content
#about {
  padding: 150px;

  div.title1 {
    margin: 0;
    font-size: 475%;
    font-weight: 900;
    line-height: 35px;
  }
  div.title2 {
    margin: 0;
    font-size: 650%;
    font-weight: 900;
    color: #caccd1;
  }
  p {
    font-size: 150%;
    text-align: justify;
  }
  .facts-of-me {
    font-size: 150%;
  }
  div.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .skillsets {
      font-size: 150%;
      list-style: none;

      li {
        padding-left: 25px;
      }
    }
  }

  div.btns {
    margin: 50px 0;
    text-align: center;

    a {
      text-decoration: none;
      color: #212121;
      font-weight: 900;
      border-radius: 100px;
      padding: 15px 55px;
      transition: background .6s;
    }

    a:nth-child(1) {
      background: #212121;
      color: #FCFCFF;
      transition: border 1s;
      border: 4px solid #212121;
      margin-right: 30px;

      &:hover {
        border: 4px solid #FF6600;
      }
    }

    a:nth-child(2) {
      border: 4px solid #caccd1;

      &:hover {
        color: #212121;
        background: #caccd1;
      }
    }
    
  }
}

// footer section
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #c0c0c0;
  
  div {
    padding: 25px 0 100px;

    &:nth-child(1) {
      h1 {
        line-height: 10px;
      }
    }

    &:nth-last-child(1) {
      ul {
        list-style: none;
        font-size: 120%;
      }

      li {
        padding-left: 25px;
        line-height: 40px;

      }
    }
  }
}


@media only screen and (max-width: 1096px) {
  #navigation {
    div.nav-link {
      padding: 20px 0;

      a {
        font-size: 80%;
        text-decoration: none;
        color: black;
        font-weight: 900;
        letter-spacing: 2px;
      }
    }

    div.nav-btn {
      text-align: center;
      padding: 20px 0;

      a {
        text-decoration: none;
        color: #212121;
        font-weight: 900;
        border: 2px solid #212121;
        border-radius: 100px;
        padding: 5px 15px;
        transition: background .6s;
      }

    }
  }
}

@media only screen and (max-width: 982px) {
  #head-content {
    grid-template-columns: 1fr;

    div.head-left {
      padding: 50px 0 0;
      margin-bottom: 50px;

      p {
        margin: 0;
        letter-spacing: 3px;
      }

      p:nth-child(1) {
        color: #a0a0a0;
        font-size: 250%;
        line-height: 45px;
      }

      p:nth-child(2) {
        font-size: 350%;
        font-weight: 900;
        line-height: 50px;
      }

      p:nth-last-child(1) {
        font-size: 175%;
        line-height: 375px;
      }

      div.btns {
      margin: 25px 0;

        a {
          text-decoration: none;
          color: #212121;
          font-weight: 900;
          border-radius: 20px;
          padding: 5px 10px;
          transition: background .6s;
        }

        a:nth-child(1) {
          background: #212121;
          color: #FCFCFF;
          transition: border 1s;
          border: 4px solid #212121;
          margin-right: 10px;

          &:hover {
            border: 4px solid #FF6600;
          }
        }

        a:nth-child(2) {
          border: 4px solid #caccd1;

          &:hover {
            color: #212121;
            background: #caccd1;
          }
        }
        
      }
    }
  }
} 

@media only screen and (max-width: 871px) {
  #navigation {
    grid-template-columns: 3fr 5fr 2fr 2fr 2fr 2fr;
    div.nav-link {
      padding: 20px 0;

      a {
        font-size: 80%;
        text-decoration: none;
        color: black;
        font-weight: 900;
        letter-spacing: 2px;
      }
    }

    div.nav-btn {
      text-align: center;
      padding: 20px 0;

      a {
        text-decoration: none;
        color: #212121;
        font-weight: 900;
        border: 2px solid #212121;
        border-radius: 100px;
        padding: 5px 10px;
        transition: background .6s;
      }

    }
  }

  #head-content {
    div.head-left {
      padding: 50px 0 0;
      margin-bottom: 50px;

      p {
        margin: 0;
        letter-spacing: 3px;
      }

      p:nth-child(1) {
        color: #a0a0a0;
        font-size: 250%;
        line-height: 45px;
      }

      p:nth-child(2) {
        font-size: 350%;
        font-weight: 900;
        line-height: 50px;
      }

      p:nth-last-child(1) {
        font-size: 175%;
        line-height: 375px;
      }

      div.btns {
      margin: 25px 0;

        a {
          text-decoration: none;
          color: #212121;
          font-weight: 900;
          border-radius: 20px;
          padding: 5px 35px;
          transition: background .6s;
        }

        a:nth-child(1) {
          background: #212121;
          color: #FCFCFF;
          transition: border 1s;
          border: 4px solid #212121;
          margin-right: 10px;

          &:hover {
            border: 4px solid #FF6600;
          }
        }

        a:nth-child(2) {
          border: 4px solid #caccd1;

          &:hover {
            color: #212121;
            background: #caccd1;
          }
        }
        
      }
    }

    div.head-right {
      display: none;
    }
  }

  #footer {
    grid-template-columns: 1fr 1fr;

    div:nth-child(2) {
      display: none;
    }
  }
} 

@media only screen and (max-width: 770px) {
  #container {
    width: 97%;
    margin: auto;
  }

  #navigation {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
    div.nav-link {
      padding: 20px 0;

      a {
        font-size: 60%;
        text-decoration: none;
        color: black;
        font-weight: 900;
        letter-spacing: 2px;
      }
    }

    div.nav-btn {
      text-align: center;
      padding: 20px 0;

      a {
        text-decoration: none;
        color: #212121;
        font-weight: 900;
        border: 2px solid #212121;
        border-radius: 100px;
        padding: 5px 10px;
        transition: background .6s;
      }

    }
  }
}

@media only screen and (max-width: 728px) {
  #projects {
    display: grid;

    .picture-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      justify-items: center;
      padding: 15px 0 75px;
      margin: 0 100px;
    }

    .links {
      margin: 15px 0 25px;
      text-align: center;
    }

    .web-link {
      background-color: #caccd1;
      border: 4px solid #FCFCFF;
      border-radius: 20px;
      padding: 5px 15px;
      margin-right: 10px;

      text-decoration: none;
      font-weight: 900;
      color: #212121;
      transition: background-color .6s;
      transition: color .6s;
      transition: border-color .6s;

      &:hover {
        background-color: #212121;
        color: #FCFCFF;
        border-color: #FF6600;
      }
    }

    .code-link {
      background-color: #caccd1;
      border: 4px solid #FCFCFF;
      border-radius: 20px;
      padding: 5px 15px;
      margin-left: 10px;

      text-decoration: none;
      font-weight: 900;
      color: #212121;
      transition: background-color .6s;
      transition: color .6s;
      transition: border-color .6s;

      &:hover {
        background-color: #212121;
        color: #FCFCFF;
        border-color: #FF6600;
      }
    }

  }
}

@media only screen and (max-width: 728px) {
  #navigation {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    div:nth-child(2) {
      display: none;
    }

    div.nav-link {
      padding: 20px 0;

      a {
        font-size: 50%;
        text-decoration: none;
        color: black;
        font-weight: 900;
        letter-spacing: 1px;
      }
    }

    div.nav-btn {
      text-align: center;
      padding: 20px 0;

      a {
        font-size: 60%;
        text-decoration: none;
        color: #212121;
        font-weight: 900;
        border: 2px solid #212121;
        border-radius: 100px;
        padding: 5px 5px;
        transition: background .6s;
      }

    }
  }
  
  #projects {
    display: grid;

    .picture-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      justify-items: center;
      padding: 15px 0 75px;
      margin: 0;
    }
  }



}

@media only screen and (max-width: 454px) {
  #navigation {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    
    div:nth-child(1) {
      grid-column: 1/6;
    }
    div.nav-link {
      padding: 20px 0;

      a {
        font-size: 80%;
        text-decoration: none;
        color: black;
        font-weight: 900;
        letter-spacing: 1px;
      }
    }

    div.nav-btn {
      text-align: center;
      padding: 20px 0;

      a {
        font-size: 80%;
        text-decoration: none;
        color: #212121;
        font-weight: 900;
        border: 2px solid #212121;
        border-radius: 100px;
        padding: 5px 5px;
        transition: background .6s;
      }

    }
  }
  
  #footer {
    grid-template-columns: 1fr 1fr;
    font-size: 70%;

    div:nth-child(2) {
      display: none;
    }
  }
}

@media only screen and (max-width: 367px) {
  #head-content {

    div.head-left {
      padding: 20px 0 0;
      margin-bottom: 50px;
      border-top: 1px solid #a0a0a0;

      p {
        margin: 0;
        letter-spacing: 3px;
      }

      p:nth-child(1) {
        color: #a0a0a0;
        font-size: 200%;
        line-height: 35px;
      }

      p:nth-child(2) {
        font-size: 250%;
        font-weight: 900;
        line-height: 75px;
      }

      p:nth-last-child(1) {
        font-size: 175%;
        line-height: 375px;
      }

      div.links {
        a.linkedin {
          text-decoration: none;
          color: #0077B5;
          transition: color .6s;
        }

        a.github {
          text-decoration: none;
          color: #212121;
          transition: color .6s;
        }

        a:hover {
          color: #FF6600;
        }
      }

      div.btns {
        margin: 50px 0;

        a {
          text-decoration: none;
          color: #212121;
          font-weight: 900;
          border-radius: 100px;
          padding: 5px 35px;
          transition: background .6s;
        }

        a:nth-child(1) {
          background: #212121;
          color: #FCFCFF;
          transition: border 1s;
          border: 4px solid #212121;
          margin-right: 10px;

          &:hover {
            border: 4px solid #FF6600;
          }
        }

        a:nth-child(2) {
          border: 4px solid #caccd1;

          &:hover {
            color: #212121;
            background: #caccd1;
          }
        }
        
      }
    }
  }
}

@media only screen and (max-width: 367px) {
  #head-content {

    div.head-left {

      div.btns {
        margin: 25px 0;

        a {
          text-decoration: none;
          color: #212121;
          font-weight: 900;
          border-radius: 100px;
          padding: 5px 15px;
          transition: background .6s;
        }

        a:nth-child(1) {
          background: #212121;
          color: #FCFCFF;
          transition: border 1s;
          border: 4px solid #212121;
          margin-right: 10px;

          &:hover {
            border: 4px solid #FF6600;
          }
        }

        a:nth-child(2) {
          border: 4px solid #caccd1;

          &:hover {
            color: #212121;
            background: #caccd1;
          }
        }
        
      }
    }
  }
}