body {
  background: linear-gradient(to bottom right, rgb(153, 157, 178), rgb(110, 111, 133), rgb(86, 88, 107));
  color: white;
  font-family: 'Abel', sans-serif;
}
#wrapper {
  text-align: center;
}
#main {
  width: 100%;
  height: 100vh;
  max-width: 1383px;
  margin-top: 2%;
  display: inline-block;
}
#container {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  border-radius: 3px;
  height: 750px;
  background: linear-gradient(to bottom right, #545468, #474557, #292936);
}

.left-side {
  float: left;
  width: 29.1%;
  height: 100%;
}
.left-side img {
  float: left;
  width: 35%;
  border-radius: 3px;
  margin: 5% 0 5% 5%;
  box-shadow: 0px 0px 10px #292936;
}
div.self-title {
  margin: 60px 0 0 0;
}
.self-title {
  letter-spacing: 2px;
  font-size: 115%;
  text-shadow: 1px 2px 2px #292936;
}
div.about-me {
  margin: 60px 0 0 0;
  width: 100%;
  height: 30%;
}
.about-me p {
  padding: 0 20px;
  text-align: justify;
  letter-spacing: 1px;
}
div.links {
  width: 100%;
  height: 49%; 
}
.mail {
  font-size: 1em;
  list-style: none;
  margin: 10px 0;
  text-align: center;
}
.email {
  padding-top: 15px;
}
.github {
  margin: 5px 0 0 70px;
  float: left
}
.linkedin {
  margin: 5px 80px 0 0;;
  float: right;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: #FB5588;
}
.footer {
  margin-top: 230px;
}

.right-side {
  float: right;
  width: 70.5%;
  height: 100%;
}
div.projects {
  width: 98.6%;
  height: 49%;
  background-color: #2A2A37;
  border: 1px solid #313140;
  border-radius: 2px;
  margin: 7px 5px;
}
div.bottom-content {
  width: 100%;
  height: 49%;
}
div.skills {
  float: left;
  height: 96%;
  width: 43%;
  background-color: #2A2A37;
  border: 1px solid #313140;
  border-radius: 2px;
  margin: 7px 5px;
}
.skills-name {
  float:left;
  height: 100%;
  width: 50%;
  text-align: left;
}
li {
  list-style: none;
  padding: 1px 5px 0;
}
.fend {
  color: #FB5588;
  font-family: 'Josefin Sans', sans-serif;
}
.bend {
  color: #5894C8;
  font-family: 'Josefin Sans', sans-serif;
}
.skills-status {
  float: right;
  height: 100%;
  width: 50%;
  text-align: left;
}
.ul1 {
  margin-top: 30px;
  padding: 0 10px 0 0;
}
.ul2 {
  margin-top: 30px;
  padding: 0 10px 0 0;
}
.progressbar {
  background-color: black;
  border-radius: 13px;
  padding: 3px;
  margin-top: 9px;
}
.ul1 .progressbar > div {
    background-color: #FB5588;
    height: 7px;
    border-radius: 10px;
}

.ul2 .progressbar > div {
    background-color: #5894C8;
    height: 7px;
    border-radius: 10px;
}
.ok > div {
  width: 60%;
}
.great > div {
  width: 80%;
}
.perfect > div {
  width: 100%;
}

div.contact-me {
  float: right;
  height: 96%;
  width: 54%;
  background-color: #2A2A37;
  border: 1px solid #313140;
  border-radius: 2px;
  margin: 7px 5px;
}
div.slider {
  display: inline;
}
.slider img {
  display: none;
}
.slider img.active {
  border: 2px solid #474557;
  border-radius: 5px;
  width: 60%;
  height: 300px;
  display: inline-block;
  margin: 30px 0 0 0;
}
div.prev {
  display: inline-block;
  float: left;
  margin: 150px 0 0 60px;
}
div.next {
  display: inline-block;
  float: right;
  margin: 150px 60px 0 0;
}
div.prev:hover {
  color: #5894C8;
  cursor: pointer;
}
div.next:hover {
  color: #5894C8;
  cursor: pointer;
}
.form form {
  float: left;
  margin: 8px 0 0 0;
}

.form input {
  float: left;
  background-color: #545468;
  border: 1px solid #FB5588;
  color: white;
  font-size: 18px;
  margin: 4px 0;
  border-radius: 7px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.form textarea {
  background-color: #545468;
  border: 1px solid #FB5588;
  color: white;
  font-size: 18px;
  margin: 4px 0 0 0;
  float: left;
  border-radius: 7px;
  padding-left: 10px;
  font-family: 'Abel', sans-serif;
}
.form-labels {
  float: left;
  color: #5894C8;
}

.form-labels p {
  width: 100px;
  text-align: justify;
  margin: 10px 0 0 10px;
  font-size: 18px;
}

form .sub-btn {
  float: right;
  margin: 8px 0 0 0;
  width: 100px;
  height: 45px;
  font-family: 'Josefin Sans', sans-serif;
}
form .sub-btn:hover {
  background-color: #5894C8;
  cursor: pointer;
}
